<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title>Equipo Titular</title>
</head>

<body>
    <H1 align="center"> Selección Titular </H1>
    <div>
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <td text-align="center">Nombre y Apellido</td>
                    <td text-align="center">Numero de Camiseta</td>
                    <td align="center">Edad</td>
                    <td text-align="right"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Posicion</td>
                    <td text-align="center">Estatura</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td text-align="center"> <ul>
                            <% titulares.forEach(function(titular){ %>
                                <li text-align: center style="list-style: none;"><%= titular.getNombre()%></li>
                            <% }); %>
                            </ul>
                    </td>
                    <td text-align="center"> <ul>
                        <% titulares.forEach(function(titular){ %>
                            <li text-align: center style="list-style: none;"><%= titular.getnumCamiseta()%></li>
                        <% }); %>
                        </ul>
                    </td>
                    <td text-align="center"> <ul>
                        <% titulares.forEach(function(titular){ %>
                            <li text-align: center style="list-style: none;"><%= titular.getEdad()%></li>
                        <% }); %>
                        </ul></td>
                    <td text-align="center"> <ul>
                        <% titulares.forEach(function(titular){ %>
                            <li text-align: center style="list-style: none;"><%= titular.getPosicion()%></li>
                        <% }); %>
                        </ul>
                    </td>
                    <td text-align="center"> <ul>
                        <% titulares.forEach(function(titular){ %>
                            <li style="list-style: none;"><%= titular.getEstatura() + " "+"cm"%></li>
                        <% }); %>
                        </ul>
                    </td>
                </tr>

            </tbody>
</table>
</div>
<%= entrenador.notify() %> 
<% titulares.forEach(titular => { %>
 <%= titular.update() %> 
<% }) %>
<div align="center">
<a href="/" align="center">Volver</a>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>